/* Cheat sheet : CSS

NEVER USE IDS FOR STYLING

Body text should be no-less than `16px`. You can also simply set it to `100%`
The measure of paragraphs (max width of each line) should be between 45 & 75 characters
Never set `line-height` in px (absolute px and relative ems dont mix)
Don't define a unit for `line-height`, just use `1.5` or `1.46` is fine
Paragraphs separated with a margin (ie `margin: 0 0 1.5em;` ) do not require indentation as, with paragraphs, margins and indentation serve the same purpose. If you're gonna indent text, keeping it equal to the line height is a good guideline.
All components on the page should have a height divisible by the height of one line of paragraph text.

*/

/* Size in `em` if the property scales according to it’s `font-size` */
/* Size everything else in `rem`. */

/* Some general styles */
html { font-size: 100% } /* This means 16px by default*/
body {
	font-size: 100%;
	line-height: 1.46;
	max-width: 2000px;
}

article, aside, b, body, div, figcaption, figure, form, h1, h2, h3, h4, html, img, label, li, nav, p, span, strong, ul {
	font-size: 100%;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: 0 0;
}

main {
	max-width: 75em;
}

article {
	line-height: 1.55;
}

p {
	font-size: ; /* Silence is golden; implicity 1em. */
	line-height: 1.5;
}

/* INDENTS */
p + p {
	text-indent: 1.5em  /* I like to keep the indentation length equal to the line height. */
}

/* Elevated cap */
h1 + p:first-letter {
	font-size: 2em;
	line-height: 0;  /* The line-height must be adjusted to compensate for the increased font size, otherwise the leading for the overall line is disrupted. I find that any values below 0.4 work. */
}

/* CSS Attribute selectors are cool */
input[name=value]  { /* Exact match */ }
input[name~=value] { /* Contains word */ }
input[name*=value] { /* Contains string */ }
input[name^=value] { /* Starts with */ }
input[name$=value] { /* Ends with */ }
